<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="stockQuoteArchiver" class="com.fin.technical.StockQuoteArchiver" scope="prototype">       
   </bean>
   <bean id="util" class="com.fin.technical.Util" factory-method="getInstance" lazy-init="true">       
   </bean>   
   <bean id="dataSource" class="com.fin.technical.DataSource" factory-method="getInstance" lazy-init="true">       
   </bean>   
   <bean id="reportWriter" class="com.fin.technical.ReportWriter" factory-method="getInstance" lazy-init="true">       
   </bean>   
   <bean id="technicalIndicators" class="com.fin.technical.TechnicalIndicators" scope="singleton" lazy-init="true">       
   </bean>
   <bean id="jdkThreadGroup" class="java.lang.ThreadGroup" scope="singleton" lazy-init="true">      
   </bean>
</beans>